.font1{
    text-align: center;
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 160%;
}
.font2{
    text-align: center;
    color: rgb(49, 45, 45);
}
.p{
    width: 400px;
    text-align: center;
}
.blick{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p2{
    text-align: center;
   
    
}
.aside{
    background-color: rgb(236, 211, 211);
    font-size: 150%;
    font-weight:300 ;
    text-align: start;
    font-family: Agbalumo;
   
}
.font3{
    padding-right: 250px;
    padding-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p3{
    padding:50px;
}
.img1{
    background-image: url(/icons/bg-masthead.jpg);
    height: 500px;
}
.img2{
    background-image: url(/icons/header-bg.jpg);
    height: 500px;
}
.menu{
    justify-content: space-around;
    padding-top: 50px;
    font-family: a;
}
.reason{
    padding-top: 50px;
}
.hr1{
    width: 200px;
}
.border{
    padding: 10px;
}