.font1{
    text-align: center;
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 160%;
}
.font2{
    text-align: center;
    color: rgb(49, 45, 45);
}
.p{
    width: 400px;
    text-align: center;
}
.blick{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p2{
    text-align: center;
   
    
}
.aside{
    background-color: rgb(236, 211, 211);
    font-size: 150%;
    font-weight:300 ;
    text-align: start;
    font-family: Agbalumo;

   
}
.font3{
    padding-right: 250px;
    padding-top: 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p3{
    padding:50px;
}
.img1{
    background-image: url(/icons/bg-masthead.jpg);
    height: 500px;
}
.img2{
    background-image: url(/icons/header-bg.jpg);
    height: 500px;
}
.menu{
    justify-content: space-around;
    padding-top: 50px;
    font-family: a;
}
.reason{
    padding-top: 50px;
}
.hr1{
    width: 200px;
}
.border{
    padding: 10px;
}
.asidebackground{
    background-image: url(/icons/Знімок\ екрана\ 2023-10-27\ 151542.png);
padding-top: 50px;
background-repeat: no-repeat;
height: 500px;



}
.font4{
    color: rgb(211, 242, 245);
    padding-right: 100px;
    padding-top: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.asideimg1{
    height: 620px;
    width: 600px;
}
.asideimg4{
    width: 320px;
    padding-top: 30px;


}

.asideimg3{
  width: 320px;
  padding-top: 30px;
}
.btn4{
    width: 200px;
    text-align: center;
}
.aside2{
    background-color: grey;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.prebtn4{
    justify-content: center;
    padding-top: 30px;
}
